<launch>

    <node name="Localization_node" pkg="localization" type="Localization_node" output="screen">
        <param name="DebugMode" type="bool" value="false"/>
        <param name="Frequency" type="int"  value="1"/>

        <param name="IgnoreFirstNData_Encoder"    type="int" value="1"/>
        <param name="IgnoreFirstNData_IMU"        type="int" value="1"/>
        <param name="IgnoreFirstNData_FlowSensor" type="int" value="1"/>

    </node>

</launch>
